@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600&display=swap');
html, body {
    margin: 0;
    padding: 0
}

.content {
    margin: 20px auto;
    font-family: 'Work Sans', sans-serif;
}

@media only screen and (min-width: 1000px) {
    .content {
        width: 1000px;
    }
}

@media only screen and (max-width: 999px) {
    .content {
        width: 95%;
    }
}

h1, h2, h3 {
    color: #025aa0;
}

@media only screen and (min-width: 1000px) {
    .inside-content {
        padding: 10px;
    }
}

@media only screen and (max-width: 999px) {
    .inside-content {
        padding: 5px;
    }
}